        {% extends "./base/base.html" %}
        {% load static %}

        {% block body %}

        <!-- About-->
        <section  id="about">
            <div class="panel-header" style="background: #99141447;">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">OPPEN INDUSTRIES</h2>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <br>
        <section>
            <div class="container px-4 px-lg-5">
                
                <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
                    <div class="col-xl-8 col-lg-7" id="Goals"><img class="img-fluid mb-3 mb-lg-0" src="{% static 'Base/assets/img/silla1.jpg' %}" alt="..." /></div>
                    <div class="col-xl-4 col-lg-5">
                        <div class="featured-text text-center text-lg-left">
                            <h4 class="text-white">Enfoque Centrado en el Cliente</h4>
                            <p class="text-white-50 mb-0">
                                En la fábrica de sillas, nuestra filosofía se basa en la excelencia operativa
                                 y la mejora continua. Desde la llegada de la materia prima hasta la salida del producto final,
                                  cada paso del proceso de fabricación se lleva a cabo con precisión y atención a los estándares de calidad.
                                   Nos esforzamos por optimizar la eficiencia en la producción mediante tecnologías avanzadas y prácticas innovadoras.
                                    La especialización en la selección de materiales duraderos y la aplicación de métodos de fabricación eficientes son
                                     la base de nuestro compromiso con la entrega de productos confiables y funcionales. En nuestra fábrica, la atención
                                      se centra en la ingeniería, la calidad y la consistencia para garantizar que cada silla que sale de nuestras instalaciones
                                       cumpla con los estándares más exigentes de la industria.</p>
                        </div>
                    </div>
                </div>
                
                <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{% static 'Base/assets/img/silla2.jpg' %}" alt="..." /></div>
                    <div class="col-lg-6">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left">
                                    <h4 class="text-white">Ética y Sostenibilidad</h4>
                                    <p class="mb-0 text-white-50">
                                        En Oppenheimer, nuestra dedicación a la excelencia operativa
                                         se fusiona armoniosamente con un fuerte compromiso hacia prácticas sostenibles y éticas.
                                          Reconocemos que la responsabilidad empresarial no se limita solo a la eficiencia de las operaciones,
                                           sino que también implica un profundo respeto por el entorno y las comunidades que nos rodean.
                                            Nos enorgullece operar de manera transparente y ética en todas nuestras transacciones,
                                             colocando la integridad en el núcleo de nuestro modelo de negocio.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>               
                <div class="row gx-0 justify-content-center">
                    <div class="col-lg-6"><img class="img-fluid" src="{% static 'Base/assets/img/silla3.jpg' %}" alt="..." /></div>
                    <div class="col-lg-6 order-lg-first">
                        <div class="bg-black text-center h-100 project">
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right">
                                    <h4 class="text-white">Asociación Basada en la Confianza</h4>
                                    <p class="mb-0 text-white-50">Al elegir Oppenheimer, eliges una asociación basada en la confianza, la calidad y la visión a largo plazo. Juntos, avanzamos hacia el futuro con determinación y dedicación a la excelencia en cada producto que fabricamos.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Signup-->
        <section id="signup">
        </section>
        <!-- Contact-->
        <br>
        <section>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Address</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">Tijuana B.C, El Refugio</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="#!">mik.isaac.gl@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Phone</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">+52 (664) 776-1476</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        </div>
        <style>
            body{
                background-image: url('/static/Base/assets/img/portada.jpg');
            }
        </style>
      {% endblock body %}
        
        
        
        
        
        
        
        
        
        
