{% extends '../base/base.html' %}
{% block Actividades %}active{% endblock Actividades %}
{% block show %}show{% endblock show %}
{% block show2 %}show{% endblock show2 %}
{% block body %}

<div class="panel-header panel-header-sm">
</div>

<div class="content">
    <div class="row">
       
        <div class="col-md-6">
            <div class="card">

                <div class="card-header">
                    <h4 class="card-title">Registrar Solución</h4>
                </div>
                
                <div class="card-body">

                    <form action="" method="POST" class="form">{% csrf_token %}

                        <div class="card mb-4 text-center">

                            <div class="card-body text-left">

                                {{ form.as_p}}
                                
                                <div class="container text-end">
                                    <button type="submit" class="btn btn-primary">Registrar</button>
                                </div>

                            </div>

                        </div>

                    </form>

                </div> 
            </div>
        </div>
        
        <div class="col-md-6">
            <div class="card">

                <div class="card-header">
                    <h4 class="card-title">Soluciónes Registradas</h4>
                </div>

                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <tr>
                                    <th>Número</th>
                                    <th>Descripción</th>
                                    <th class="text-center">Editar</th>
                                    <th class="text-center">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for s in Soluciones %}
                                    <tr>
                                        <td class>{{s.numero}}</td>
                                        <td>{{s.descripcion}}</td>
                                        <td class="text-center"><a href="{% url 'core:editarSoluciones' pk=s.numero %}" class="btn btn-primary btn-round btn-icon btn-sm">
                                            <i class="now-ui-icons ui-2_settings-90"></i></a></td>
                                        <td class="text-center"><a href="#" onclick = "Eliminar( 'eliminarSoluciones/', {{s.numero}} )" class="btn btn-danger btn-round btn-icon btn-sm">
                                            <i class="now-ui-icons ui-1_simple-remove"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>                            
                        </table>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>



{% endblock body %}



