{% extends '../base/base.html' %}
{% block Puestos %}active{% endblock Puestos %}
{% block show %}show{% endblock show %}
{% block active %}active{% endblock active %}
{% block body %}
<div class="panel-header panel-header-sm">
</div>

<div class="content">
  <div class="row">

    <div class="col-md-3">
    </div>

    <div class="col-md-6">
      <div class="card">

          <div class="card-header">
              <h4 class="card-title">Editar Puesto</h4>
          </div>
          
          <div class="card-body">

              <form id="form" action="" method="POST" class="form">
                {% csrf_token %}

                  <div class="card mb-4 text-center">

                      <div class="card-body text-left">

                          {{ form }}
                          
                          <div class="container text-end">
                            <div class="row">
                              <div class="col-md-6">
                                <button type="button" id="Guardar" class="btn btn-primary btn-block">Editar</button>
                              </div>
                              <div class="col-md-6">
                                <a type="button" class="btn btn-danger btn-block" href="{{ request.META.HTTP_REFERER }}">Cancelar</a>
                              </div>
                          </div>

                      </div>

                  </div>
                </div>

              </form>

          </div> 
      </div>
    </div>

    <div class="col-md-3">
    </div>
    
  </div>
</div>


{% endblock body%}